@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0a1e27;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 5rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.section__subheader::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 4rem;
  background-color: var(--secondary-color);
}

.section__subheader::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-60%, -50%);
  font-size: 8rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.1;
  z-index: -1;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--white);
  opacity: 0; /* เริ่มจากการซ่อน */
  transform: translateY(20px); /* เริ่มจากด้านล่าง */
  transition: opacity 1s ease, transform 1s ease;
}

/* เพิ่มคลาสสำหรับเอฟเฟกต์ที่จะแสดงเมื่อโหลด */
.header__content.show .section__header {
  opacity: 1; /* ทำให้มองเห็นได้ */
  transform: translateY(0); /* กลับไปที่ตำแหน่งเดิม */
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(10, 30, 39, 0.5);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-container input[type="file"] {
  display: none; /* ซ่อน input file */
}

.custom-file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: rgba(233, 198, 117, 0.7);
}

.uploaded-image {
  width: 50%; /* ลดขนาดของภาพที่แนบ */
  border-radius: 10px; /* เพิ่มการทำให้มุมมน */
  margin-top: 20px; /* เพิ่มระยะห่างจาก input file */
  display: none; /* ซ่อนภาพในตอนแรก */
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 15rem);
  background-image: radial-gradient(
      rgba(255, 255, 255, 0),
      var(--primary-color)
    ),
    url("assets/header-1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

nav {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  z-index: 9;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.nav__links {
  position: absolute;
  right: 1rem;
  top: 68px;
  width: calc(100% - 2rem);
  max-width: 500;
  padding: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(10, 30, 39, 0.8);
  border-radius: 10px;
  display: none;
  justify-content: center;
  gap: 2rem;
}

.nav__links.open {
  display: flex;
  animation: show-nav 0.3s linear forwards;
}

.nav__links.close {
  animation: hide-nav 0.3s linear forwards;
}

@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-nav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  padding: 10px 20px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.nav__links a:hover {
  color: var(--secondary-color);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* เพิ่มเงาเมื่อเอาเม้าชี้ */
  background-color: rgba(255, 255, 255, 0.1); /* เพิ่มพื้นหลังโปร่งแสงเมื่อเอาเม้าชี้ */
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__action__btn {
  display: none;
}

.header__container {
  position: relative;
  isolation: isolate;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  max-width: 700px;
}

.header__content .section__header {
  font-size: 3rem;
  font-weight: 600;
  line-height: 5rem;
}

.header__content a {
  color: var(--white);
}

.header__content a:hover {
  color: var(--secondary-color);
}

.header__socials {
  position: absolute;
  left: 0;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  transform: translateX(calc(-50% + 1rem)) rotate(90deg);
  display: none;
}

.header__socials a {
  font-size: 1.2rem;
  color: var(--white);
  transform: rotate(-90deg);
}

.header__socials a:hover {
  color: var(--secondary-color);
}

.about {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color) 8rem
  );
  overflow: hidden;
}

.about__container {
  padding-top: 0;
  display: grid;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about__image img {
  max-width: 400px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.about__content-1 .section__subheader::after {
  content: "01";
}

.about__content-2 .section__subheader::after {
  content: "02";
}

.about__content-3 .section__subheader::after {
  content: "03";
}

.about__content-4 .section__subheader::after {
  content: "04";
}

.about__content p {
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.about__content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}

.about__content a span {
  transition: 0.3s;
}

.about__content a:hover span {
  transform: translateX(10px);
}

.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col:first-child {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col p {
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.result-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--secondary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.result-item {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center; /* ทำให้ข้อความอยู่กึ่งกลาง */
  flex-direction: column; /* จัดให้ข้อความอยู่ในบรรทัดกลาง */
}

.result-label {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--white);
}

@media (width > 768px) {
  .nav__logo {
    flex: 1;
  }

  .nav__links {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__action__btn {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }

  .header__container {
    height: calc(100% - 10rem);
  }

  .header__socials {
    display: flex;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem 2rem;
  }

  .about__image-1 {
    grid-area: 1/2/2/3;
  }

  .about__image-3 {
    grid-area: 3/2/4/3;
  }

  .about__image-4 {
    grid-area: 4/1/5/2;
  }

  .about__content {
    margin-left: 6rem;
  }

  .footer__container {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .about__image img {
    width: 400px; /* กำหนดความกว้างเป็น 400px */
    height: 500px; /* กำหนดความสูงเป็น 500px */
    object-fit: cover; /* ให้ภาพครอบคลุมพื้นที่โดยไม่บิดเบี้ยว */
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  }

  .nowrap {
    display: inline;
    white-space: nowrap;
  }
}

/* SCAN CSS */

.prediction-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 5px 0;
  overflow: hidden;
}

.prediction-bar {
  height: 20px;
  background-color: #007bff;
  border-radius: 10px;
  text-align: right;
  padding-right: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.prediction-bar:hover {
  background-color: #0056b3;
}

.prediction-text {
  margin-bottom: 5px;
  font-weight: bold;
}
